<div class="recipe-new">
    <%= form_with model: @recipe, url: recipes_path, method: :post, scope: :recipe do |f| %>

        <div>
            <div>
                <%= f.label :name %> <br>
                <%= f.text_field :name %>
            </div>

            <div>
                <%= f.label :preparation_time_in_mins %> <br>
                <%= f.number_field :preparation_time, step: 0.01 %>
            </div>

            <div>
                <%= f.label :cooking_time_in_mins %> <br>
                <%= f.number_field :cooking_time, step: 0.01 %>
            </div>

            <div>
                <%= f.label :public %>
                <%= f.radio_button :public, true %> Yes
                <%= f.radio_button :public, false %> No
            </div>

            <div>
                <%= f.label :description %> <br>
                <%= f.text_area :description %>
            </div>

            <%= f.submit 'Create Recipe' %> <br>
        </div>

    <% end %>
</div>
