<div class="shopping_des">
    <h2>
       Shopping List
    </h2>

    <div class="amount_total">
       <div class="">
           Amount of food items to buy: <%= @ingredient.length %>
       </div>
       <div class="">
           Total value of food needed: $<%= @total_price %>
       </div>
    </div>
 </div>
 <div>
    <table class='main_table'>
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% if @ingredient.length === 0 %>
        <tr>
          <td colspan="">
            <i class=""></i>
            <span>No ingredients found</span>
          </td>
        </tr>
        <% else %>
          <% @ingredient.each do |ingt| %>
            <tr class="item_detail">
              <td><%= ingt.food.name %></td>
              <td><%= ingt.quantity %> <%= ingt.food.measurement_unit %></td>
              <td><%= ingt.food.price * ingt.quantity %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>