<div class="recipe-section">
    <% if @recipe.public || @recipe.user == current_user %>
        <div>
            <div>
                <h1>
                    <%= @recipe.name %>
                </h1>
            </div>
            <div class="recipe-info">
                <div>
                    <span>
                        preparation time: <%= @recipe.preparation_time %> Mins
                    </span><br>
                    <span>
                        Cooking time: <%= @recipe.cooking_time %> Mins
                    </span><br>
                    <span>
                        <%= @recipe.description %>
                    </span>
                </div>
                <div>
                    <% if can? :update, @recipe %>
                        <%= form_for @recipe, scope: :recipe, method: :patch do  |f| %>
                            <div class="form-group">
                                <%= f.label :public, class: 'control-label' %>
                                <%= f.check_box :public, {}, 'true', 'false' %>
                            </div>
                            <%= f.submit 'Update', class: 'btn btn-primary' %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
        <div>
            <% if @recipe.user == current_user %>
                <%= link_to 'Generate shoping list', "/shopping_list/#{@recipe.id}" %>
            <% end %>
        </div>
        <div>
            <% if @recipe.user == current_user %>
                <%= link_to 'Add Ingredients', "/recipe_foods/#{@recipe.id}" %>
            <% end %>
        </div>
        <div class="container">
            <table class="">
              <thead>
                <tr class="">
                  <th>Food</th>
                  <th>Quantity</th>
                  <th>Value</th>
                  <% if current_user && current_user.id == @recipe.user_id %>
                    <th>Actions</th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% if @recipe.recipe_foods.length === 0 %>
                <tr class="">
                  <td colspan="4">
                    <i class=""></i>
                    <span>No ingredients found</span>
                    </td>
                </tr>
                <% else %>
                  <% @recipe.recipe_foods.each do |ing| %>
                    <tr class="">
                      <td><%= ing.food.name %></td>
                      <td><%= ing.quantity %> <%= ing.food.measurement_unit %></td>
                      <td><%= ing.food.price * ing.quantity %></td>
                      <% if current_user && current_user.id == @recipe.user_id %>
                        <td class="">
                          <%= link_to "Modify", edit_recipe_food_path(ing), class: '' %>
                          <%= button_to "Remove", recipe_food_path(ing), method: :delete, class: '' %>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>

    <% else %>
        <div>
            <span>You don't have permission to view this recipe</span>
            <%= link_to 'View all Recipes', public_recipes_path %>
        </div>
    <% end %>
</div>