<div>
  <h1>Foods Page</h1>
  <%= link_to 'Add Food', new_food_path %>
  <% if @user.foods.empty? %>
    <h2> No foods for this user.</h2>
  <% else %>
    <table>
        <tr>
            <th>Food</th>
            <th>Measurement Unit</th>
            <th>Unit Price</th>
            <th>Actions</th>
        </tr>
        <% @user.foods.each do |food| %>
            <tr class='item_detail'>
                <td><%= food.name %></td>
                <td><%= food.measurement_unit %></td>
                <td>$<%= food.price %></td>
                <td><%= link_to 'delete', food_path(food), data: {turbo_method: :delete} %></td>
            </tr>
        <% end %>
    </table>
      
  <% end %>
</div>
